@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

nav {
  /* text-align: right; */
  height: 7vh;
  position: fixed;
  top: 0;
  width: 90vw;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 0 0 5px 5px;
}

nav button {
  cursor: pointer;
  margin: 5px 10px;
  background-color: whitesmoke;
}

nav button:hover {
  background-color: lightgrey;
}

nav button:focus,
button:active {
  outline: none;
}

nav button:active {
  background-color: grey;
  color: whitesmoke;
}

nav i {
  font-size: 30px;
  position: absolute;
  left: 2vh;
  top: 2vh;
}

body {
  width: 90vw;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

#welcomePage {
  height: 100vh;
  border: rgba(0, 0, 0, 0) solid 1px; /*Do not remove!*/
}

#welcomeBox {
  margin-top: 25vh;
  height: 50vh;
}

#welcomeBox h1 {
  font-size: 3.5rem;
}

#welcomeBox h3 {
  font-size: 2rem;
}

#welcomeBox button {
  margin: 5vh;
}

#inputPage {
  border: rgba(0, 0, 0, 0) solid 1px; /*Do not remove!*/
  height: 100vh;
}

button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: lightgrey;
}

button:hover {
  background-color: grey;
  color: whitesmoke;
}

button:active {
  background-color: black;
}

button:active,
button:focus {
  outline: none;
}
