@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

nav {
  position:fixed;
  top:0;
  width: 90vw;
  margin: auto;
}

body {
  width: 90vw;
  margin: auto;
  text-align: center;
}

#welcomePage {
  height: 100vh;
}

#welcomeBox {
  margin-top:45vh;
  height: 10vh;
}

#inputPage {
  border: red solid 1px;
  height: 100vh;
}
