@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  width: 90vw;
  margin: auto;
  text-align: center;
}

#welcomePage {
  height: 100vh;
}
