main {
  margin-top:45vh;
  height: 10vh;
}

#playerList {
  height: 30vh;
  width: 50%;
  margin: auto;
  border: black solid 1px;
  overflow-y: scroll;
}

table {
  width: 100%;
}

#nameCol {
  width:25%;
}
#topicCol {
  width: 37.5%;
}
#diffCol {
  width: 25%;
}
#deleteCol {
  width:12.5%;
}

/* Alternating Row Colors */
table th {
  background-color: #fff;
  color: black;
}

table tr:nth-child(even) {
  background-color: #fff;
}
table tr:nth-child(odd) {
 background-color: #eee;
}
/* End */

th, td {
  padding: 5px;
}

/* table, th, td {
  border: 1px solid black;
} */

th{
  font-size:1.5rem
}
td {
  font-size: 1.2rem;
}

#addPlayerButton, #start{
  margin: 10px
}

#addPlayerForm{
  display:flex;
  flex-direction: column;
  width: 50%;
  margin:auto
}

#addPlayerForm select,  #name{
  margin: 20px 0;
  font-size: 1.5rem
}

#submitPlayerButton{
  width: 20%;
  margin: 20px auto;
  font-size: 1.5rem
}

#close{
  margin:10px;
  position: absolute;
  top: 0;
  right:0;
}