main {
  margin-top:45vh;
  height: 10vh;
  border: blue solid 1px;
}

#playerList {
  height: 30vh;
  width: 70%;
  margin: auto;
  border: black solid 1px;
  overflow-y: scroll;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

td {
  font-size: 1.2rem;
}
